---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/EarthPorn.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "self.EarthPorn", "banned_by": null, "media_embed": {},
        "subreddit": "EarthPorn", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;h2&gt;What
        is reddit, really?&lt;/h2&gt;\n\n&lt;ul&gt;\n&lt;li&gt;&lt;p&gt;Don&amp;#39;t
        think of reddit as one giant community. This site is made up of &amp;quot;sub&amp;quot;reddits,
        which are all their own communities. Every single post you see on this site
        belongs to its own community, with its own set of users, and with its own
        set of rules. reddit provides you an easy-to-use interface for managing wh[...]
