---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/EarthPorn.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "i.imgur.com", "banned_by": null, "media_embed": {}, "subreddit":
        "EarthPorn", "selftext_html": null, "selftext": "", "likes": null, "secure_media":
        null, "link_flair_text": null, "id": "2bl2fl", "gilded": 0, "secure_media_embed":
        {}, "clicked": false, "stickied": false, "author": "Ziphius", "media": null,
        "score": 614, "approved_by": null, "over_18": false, "hidden": false, "thumbnail":
        "http://a.thumbs.redditmedia.com/zltABIbRkkyWL9kV.jpg", "subreddit_id": "t5_2sbq3",
        "edited": false, "link_flair_css_class": null, "author_flair_css_class": "Camera",
        "downs": 0, "saved": false, "is_self": false, "permalink": "/r/EarthPorn/comments/2bl2fl/mighty_mount_manakau_kaikoura_ranges_new_zealand/",
        "name": "t3_2bl2fl", "created": 1406228646.0, "url": "http://i.imgur.com/anND1x8.jpg",
        "author_flair_text": null, "title": "Mighty Mount Manakau, Kaikoura Ranges,
        New Zealand [OC] [1920x1280]", "created_utc": 1406199846.0, "ups": 614, "num_comments":
        19, "visited": false, "num_reports": null, "distinguished": null}}, {"kind":
        "t3", "data": {"domain": "farm2.staticflickr.com", "banned_by": null, "media_embed":
        {}, "subreddit": "EarthPorn", "selftext_html": null, "selftext": "", "likes":
        null, "secure_media": null, "link_flair_text": null, "id": "2bl78q", "gilded":
        0, "secure_media_embed": {}, "clicked": false, "stickied": false, "author":
        "lememeinator", "media": null, "score": 413, "approved_by": null, "over_18":
        false, "hidden": false, "thumbnail": "h[...]
[...]
