---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/EarthPorn.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "i.imgur.com", "banned_by": null, "media_embed": {}, "subreddit":
        "EarthPorn", "selftext_html": null, "selftext": "", "likes": null, "secure_media":
        null, "link_flair_text": null, "id": "2bhvfz", "gilded": 0, "secure_media_embed":
        {}, "clicked": false, "stickied": false, "author": "edme", "media": null,
        "score": 2983, "approved_by": null, "over_18": false, "hidden": false, "thumbnail":
        "http://b.thumbs.redditmedia.com/75Aq29noEYyFo2UG.jpg", "subreddit_id": "t5_2sbq3",
        "edited": false, "link_flair_css_class": null, "author_flair_css_class": "Camera",
        "downs": 0, "saved": false, "is_self": false, "permalink": "/r/EarthPorn/comments/2bhvfz/simien_mountains_ethiopia_one_of_the_best_placed/",
        "name": "t3_2bhvfz", "created": 1406153526.0, "url": "http://i.imgur.com/eFAcj8o.jpg",
        "author_flair_text": null, "title": "Simien Mountains, Ethiopia &amp; one
        of the best placed park benches in the world. [5000 x 1900] [OC]", "created_utc":
        1406124726.0, "ups": 2983, "num_comments": 125, "visited": false, "num_reports":
        null, "distinguished": null}}, {"kind": "t3", "data": {"domain": "i.imgur.com",
        "banned_by": null, "media_embed": {}, "subreddit": "EarthPorn", "selftext_html":
        null, "selftext": "", "likes": null, "secure_media": null, "link_flair_text":
        null, "id": "2bgrde", "gilded": 0, "secure_media_embed": {}, "clicked": false,
        "stickied": false, "author": "minighost", "media": null, "score": 3528, "approved_by":
        null, "over_18": false, "hidden": false, "thumbnail": "http://a.thumbs.reddit[...]
[...]
