<!--  2/3 x 1/3 -->
<% @earth_porn.each do |post| %>
  <div class="nature_photos_container">
      <%= image_tag(post["data"]["url"], :class => "style_image", width: "100%", height: "100%") %>
      <!--<%#= image_tag(post["data"]["url"], :class => "style_image", size: "320x163") %>-->
        <a href="<%= new_ecard_path %>" class="button green">
          <!--Choose This<br>Image-->
          Create e-Card<br>With This Image
        </a>
  </div>
<% end %>

<div class="resetColumnSet"></div>


