
<header>
  <div id="header_container">
    <div id="header_logo">
      <!--insert logo-->
      <%= image_tag('nikon_camera.jpg') %>
    </div>
  </div>
</header>

<nav>
  <div id="nav_container">
    <ul id="menu">
      <a href="/about">
        <!--<li> add 'about us' nav button </li>-->
      </a>
      <a href="/best_cameras">
        <!--<li> add 'best_cameras' nav button </li>-->
      </a>
      <a href="/reviews">
        <!--<li> add 'reviews' nav button </li>-->
      </a>
      <a href="/forum">
        <!--<li> add 'forum' nav button </li>-->
      </a>
      <a href="/photo_contest">
        <!--<li> add 'photo_contest' nav button </li>-->
      </a>
    </ul>
  </div>
  <!--end navigation-->
</nav>

<div id="content"
     <div id="content_container">

       <!--  1/3 x 2/3 -->
       <div class="top_columns">
         <div class="two_third">
           <!--<img src="insert image">-->
         </div>
       </div>
       <div class="one_third">
         <p>Welcome to The Camera Snapshot!</p>
         <p>Your One-Stop Shop for Digital Camera Information</p>
       </div>
       <div class="resetColumnSet"></div>

     </div>
<!--end content_container-->
</div>
<!--end content-->