---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/EarthPorn.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "self.EarthPorn", "banned_by": null, "media_embed": {},
        "subreddit": "EarthPorn", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;The
        SFWPorn Network is an amazing resource for photographers - a front-page submission
        to &lt;a href=\"/r/EarthPorn\"&gt;/r/EarthPorn&lt;/a&gt; can send &lt;em&gt;hundreds
        of thousands&lt;/em&gt; of views to a single photograph. When I created this
        subreddit waaaaaaaay back in 2011 (light years ago in reddit time), we were
        essentially a wallpaper subreddit. Little known fact: The resolution rule
     [...]
