<a class="nav-link" href="/cameras/new">Add New Camera</a>

<h2>Cameras</h2>

<table class="table-standard">
  <thead>
  <tr>
    <th>Camera Name</th>
    <th>Camera Description</th>
  </tr>
  </thead>
  <tbody>
  <% @cameras.each do |camera| %>
    <tr>
      <td>
        <a href="/cameras/<%= camera.id %>">
          <%= camera.name %>
        </a>
      </td>
      <td>
        <a href="/cameras/<%= camera.id %>">
          <%= camera.description %>
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
