<h2> Add Camera </h2>

<form action="/cameras" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

  <p>
    <label for="name" class="form_label">Name</label>
    <input name="camera[name]" id="name">
  </p>

  <p>
    <label for="description" class="form_label">Description</label>
    <input name="camera[description]" id="description"
  </p>

  <p>
    <input type="submit" value="Create Camera" class="form-button">
  </p>
</form>
