<div class="actions">
  <a href="/cameras/<%= @camera.id %>/edit">Edit</a>
</div>


<h2> Showing Camera </h2>

<dl class="attributes">
  <dt>Name</dt>
  <dd><%= @camera.name %></dd>
  <dt>Description</dt>
  <dd><%= @camera.description %></dd>
</dl>
