<!--<div class="ecard_page">-->
  <!--<p>Choose a photo to put on your eCard</p>-->
<!--</div>-->







# PHOTO
# TEXT BOX
# your_name (first & last)
# your email
# recip name
# recip email
# PREVIEW button (show page => SEND (create))