<h1>About Camera Snapshot</h1>
<p>Founded in 2014, CameraSnapshot was created by Peggy Griffin as an independent project while
  studying to become a full-stack web developer apprentice.</p>

<h1>What Camera Should I Buy?</h1>
<p>People always want to know what digital camera they should buy next. Choosing a camera is a
personal choice and our COMPREHENSIVE REVIEWS are here to help you pick your next camera. We also
highlight what we think are the best cameras currently available in their category on our BEST CAMERAS
page.</p>

<h1>Photo of the Day Contest</h1>
<p>Have you started taking amazing shots with that new camera you purchased? You should enter your photos
in our PHOTO OF THE DAY CONTEST.</p>

<h1>Contact Us</h1>
<ol>
  <li>Do you have any questions or concerns about the site?</li>
  <li>Do you have an interest in seeing your products covered on CameraSnapshot?</li>
  <li>Are you interested in becoming a Guest Writer?</li>
<p>Please send us a brief email and we will get back to you as soon as possible.</p>
</ol>