/*
 *= require_tree .
 *= require_self
 */

body {
    background-color: #red;
}

#header_container,
#nav_container,
#content_container,
#footer_container {
    width: 980px;
    margin: auto;
}

header {
    background-color: #EFEBDF;
    overflow: hidden;
}

#header_logo {
    float: left;
    background-color: #EFEBDF;
}

nav {
    background-color: #EFEBDF;
    overflow: hidden;
}

#content {
    background-color: #EFEBDF;
    min-height: 600px;
}

footer {
    background-color: orange;
}

.colorbar1 {
    height: 7px;
    background-color: #759185;
}

#photo_home {
    background-color: #EFEBDF;
}

#photo_home .photo_container {
    width: 980px;
    margin: auto;
}

/* ----- =menu (Primary Nav) ----- */

#menu {
    float: right; /* or float: left */
    margin: 0 3% 0 0;
}

#menu li {
    float: left;
    list-style: none;
}

#menu li a {
    font-size: 120%;
    font-weight: bold;
    color: #58595b;
    padding: 17px 25px 15px 25px;
    display: block;
    text-decoration: none;
}

#menu li a:hover {
    color: #fff;
    background-color: #C5CEBD;
}

#menu li a:active {
    background-color: #FF704D;
}

/*Borders between each button */
#menu li + li {
    border-left: 3px solid #759185;
}

/*Borders on both sides */
#menu li:first-child a {
    border-left: 3px solid #759185;
}

#menu li:last-child a {
    border-right: 3px solid #759185;
}

/* List of Responsive Nav */
