/*
 *= require_tree .
 *= require_self
 */

@import "compass";

body {
    background-color: #EFEBDF;
}

#header_container,
#nav_container,
#content_container,
#footer_container,
#pixlr_container {
    width: 960px;
    margin: auto;
}

header {
    background-color: #EFEBDF;
    overflow: hidden;
}

#header_logo {
    float: left;
    background-color: #EFEBDF;
    margin-top: 20px;
}

/*#header_phrase {*/
    /*float: right;*/
    /*color: #58595b;*/
    /*background-color: #EFEBDF;*/
    /*font-size: 1.468em;*/
    /*line-height: 1.2em;*/
    /*font-weight: bold;*/
    /*text-align: right;*/
    /*margin-top: 10px;*/
/*}*/

.notice {
  color: #BB383E;
  font-style: italic;
  float: right;
  padding: 30px;
  margin-top: 40px;
  margin-right: 135px;
  font-size: 2em;
}

nav {
    background-color: #EFEBDF;
    overflow: hidden;
}

#content {
    background-color: #EFEBDF;
    min-height: 600px;
}

footer {
    background-color: orange;
}

.colorbar1 {
    height: 7px;
    background-color: #759185;
}

#photo_home {
    background-color: #EFEBDF;
}



#photo_home .photo_container {
      width: 960px;
      margin: auto;
      position: relative;
}

.one_two_three {
  width: 775px;
  margin-top: 50px;
  position: absolute;
  left: 14%;

}

.nature_photos_container {
    width: 960px;
    height: 600px;
    margin: auto;
    border: 1px solid lightgray;
    margin-bottom: 25px;
    position: relative;
}

.ecard_page_header {
  width: 768px;// (960 / 5) * 4
  height: 1768px; // need to change to (480 / 5) * 4 ??  600px?
  margin: 0 auto;
//  border: 1px solid lightgray;
  margin-bottom: 25px;
  position: relative;
//  color: #58595b;
  text-align: center; //on messages/new, connected to 'insert photo here'
  // and 'Message (required)' Text Box
}

.ecard_preview_page_header {
  width: 768px;// (960 / 5) * 4
  margin: 0 auto;
  //  border: 1px solid lightgray;
  font-family: Roboto Condensed, sans-serif;
  margin-bottom: 25px;
  position: relative;
  //  color: #58595b;
  text-align: center; //on messages/new, connected to 'insert photo here'
  // and 'Message (required)' Text Box
}

.buttons_on_preview_page {
  text-align: center;
}

.message_email_page, .message_preview_page {
  width: 768px;// (960 / 5) * 4
  height: 1768px; // need to change to (480 / 5) * 4 ??  600px?
  margin: 0 auto;
//  border: 1px solid lightgray;
  margin-bottom: 25px;
  position: relative;
//  color: #58595b;
  padding: 20px;
  text-align: left; //on messages/new, connected to 'insert photo here'
  // and 'Message (required)' Text Box
}

.messages_subtitle {
  font-size: 0.9em;
  font-weight: normal;
  vertical-align: text-bottom;
  color: #BB383E;
}

.message_photo img {
  width: 768px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid lightgray;
  margin-bottom: 25px;
  position: relative;
  color: #58595b;
  text-align: left;
}

.form_text_field_width {
  color: #58595b;
  font-weight: bold;
  text-align: center; //associated with Sender:name, email, Recip:name,email fields
}


.form_text_box_size {
  color: #58595b;
  font-weight: bold;
}

.message_text_box {
  width: 450px;
  height: 225px;
  padding: 4px;
}

.message_label {
//  text-align: left;
}

.message_text_field {
  width: 450px;
  height: 1.5em;
  padding: 4px;
}

.style_image {
    margin-bottom: 25px;
}

.message_preview_page {
  font-family: arial, sans-serif;
  font-size: 18px;
}

/*.one_third {*/
    /*width:300px;*/
/*}*/

/*COLUMNS*/

//.two_third {
//    width:620px;
//    height: 400px;
//    border: 1px solid gray;
//    float:left;
//}

/* ----- =menu (Primary Nav) ----- */

#menu {
    /*float: right; *//* or float: left */
    margin: 0 3% 0 0;
}

#menu li {
    float: left;
    list-style: none;
}

#menu li a {
    font-size: 120%;
    font-weight: bold;
    color: #58595b;
    padding: 17px 25px 15px 25px;
    display: block;
    text-decoration: none;
}

#menu li a:hover {
    color: #fff;
    background-color: #C5CEBD;
}

#menu li a:active {
    background-color: #759185;
}

/*Borders between each button */
#menu li + li {
    border-left: 3px solid #759185;
}

/*Borders on both sides */
/*#menu li:first-child a {*/
    /*border-left: 3px solid #759185;*/
/*}*/

/*#menu li:last-child a {*/
    /*border-right: 3px solid #759185;*/
/*}*/

/* List of Responsive Nav */


/*MAY NEED TO DELETE BELOW HERE:*/
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');

.preserve-3d {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

body {
    font-family: Roboto Condensed, sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

.back {
    width: 16%;
    height: 40px;
    float: left;
    background-color: #759185;
    border: 10px;
    border-color: #759185;
    border-style: solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    counter-increment: bc;
    padding: 0px 5px 5px 5px;
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 75%;
    position: relative;
    top: 25%;
    bottom: 25%;
    vertical-align: bottom;
    left: 50%;
    margin-top: -20px;
    margin-left: -75px;
    width: 150px;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
    /*adding shadow...*/
    color: #322922;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow:
        .07em .07em 0em #d5d5d5,
        .07em .07em 0em #322922;
}

.button_base:hover {
    cursor: pointer;
}


.b05_3d_roll {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}

.b05_3d_roll div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 12px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b05_3d_roll div:nth-child(1) {
    color: #EFEBDF; /*#000000*/
    background-color: #C5CEBD; /*#000000*/
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll div:nth-child(2) {
    color: #58595b;
    background-color: #EFEBDF; /*#ffffff*/
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll:hover div:nth-child(1) {
    color: #ffffff;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.b05_3d_roll:hover div:nth-child(2) {
    background-color: #58595b;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}
