@import "compass";

.button {
  text-decoration: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: -2px 2px 0 rgba(black, 0.2);
  font-weight: bold;
  padding-right: 50px;
  margin: 23px 0 0 747px;
  position: absolute;
  top: 0;
  &.green {
    @include background(linear-gradient(
        top, #a0b3ab, #91a89e
    ));
    box-shadow:
      -1px 0px 1px #839c92, 0px 1px 1px #759185,
      -2px 1px 1px #839c92, -1px 2px 1px #759185,
      -3px 2px 1px #839c92, -2px 3px 1px #759185,
      -4px 3px 1px #839c92, -3px 4px 1px #759185,
      -5px 4px 1px #839c92, -4px 5px 1px #759185,
      -6px 5px 1px #839c92,

      -6px 7px  0 rgba(black, 0.05),
      -5px 8px  0 rgba(black, 0.05),
      -3px 9px  0 rgba(black, 0.04),
      -2px 10px 0 rgba(black, 0.04),
      -1px 11px 0 rgba(black, 0.03),
      0px 12px 0 rgba(black, 0.03),
      1px 13px 0 rgba(black, 0.02),
      2px 14px 0 rgba(black, 0.02),
      3px 15px 0 rgba(black, 0.01),
      4px 16px 0 rgba(black, 0.01),
      5px 17px 0 rgba(black, 0.01),
      6px 18px 0 rgba(black, 0.01),

      inset 0 4px 5px -2px rgba(white, 0.5),
      inset 0 1px 0 0 rgba(black, 0.3);

  }

  @include transition(all 0.1s linear);
  @include transform(translateZ(0));
  &:active {
    box-shadow: none;
    @include transform(translate3d(
        -6px, 6px, 0
    ));
  }
  .arrow {
    @include filter(drop-shadow(-2px 0 0 rgba(black, 0.2)));
  }
  &:after {
    @include filter(drop-shadow(-2px 0 0 rgba(black, 0.2)));
  }
  &:after, &:before {
    position: absolute;
    content: " ";
    right: 15px;
    top: 14px;
    width: 6px;
    height: 18px;
    background: white;
    @include transform(rotate(-45deg));
    display: block;
    z-index:2;
  }
  &:before {
    height: 14px;
    top: 26px;
    right: 16px;
    z-index:3;
    @include transform(rotate(-137deg));
    @include filter(drop-shadow(0 -2px 0 rgba(black, 0.15)));
  }
}

//may have to delete below here


.btn-preview {
  background-color: #91a89e;
  background-image:
  linear-gradient(
      167deg,
      rgba(white, 0.1) 50%,
      rgba(black, 0) 55%),
  linear-gradient(
      top,
      rgba(white, 0.15),
      rgba(black, 0));
  border-radius: 6px;
  box-shadow:
  0 0 0 1px #829B90 inset,
  0 0 0 2px rgba(white, 0.15) inset,
  0 8px 0 0 #647D72,
  0 8px 0 1px rgba(black, 0.4),
  0 8px 8px 1px rgba(black, 0.5);
  color: #FFF;
  display: inline-block;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
  letter-spacing: -1px;
  line-height: 40px;
  margin: 30px 0 10px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px rgba(black, 0.5);
  text-decoration: none !important;
  top: 0;
  width: 150px;
  @include transition(0.15s);
  &:hover, &:focus {
    background-color: #759185;
    box-shadow:
    0 0 0 1px #829B90 inset,
    0 0 0 2px rgba(white, 0.15) inset,
    0 10px 0 0 #5B7167,
    0 10px 0 1px rgba(black, 0.4),
    0 10px 8px 1px rgba(black, 0.6);
    top: -2px;
  }
  &:active {
    box-shadow:
    0 0 0 1px #647D72 inset,
    0 0 0 2px rgba(white, 0.15) inset,
    0 0 0 1px rgba(black, 0.4);
    @include transform(translateY(10px));
  }
}