<h2> Add New Review </h2>

<form action="/reviews" method="post">
  <!--<form enctype="multipart/form-data" action="http://myserver/abc/upload.php" method="POST">-->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

  <p>
    <label for="make" class="form_label">Make</label>
    <input name="review[make]" id="make">
  </p>

  <p>
    <label for="model" class="form_label">Model</label>
    <input name="review[model]" id="model">
  </p>

  <p>
    <label for="camera_review" class="form_label">Camera Review</label>
    <input name="review[camera_review]" id="camera_review">
  </p>

  <p>
    <label for="conclusion" class="form_label">Conclusion</label>
    <input name="review[conclusion]" id="conclusion">
  </p>

  <p>
    <label for="sample_photo" class="sample_photo">Sample Photo</label>
    <input name="review[sample_photo]" id="sample_photo" type="file">
  </p>

  <p>
    <input type="submit" value="Save Review" class="form-button">
  </p>
</form>
