<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>CameraSnapshot</title>

  <link href="/assets/application.css" rel="stylesheet" type="text/css"/>

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

</head>
<body>
<header>
  <div id="header_container">
    <div id="header_logo">
      <img src="/images/camera_snapshot_logo_no_filmstrip.png" width="125" alt="Logo"/>
    </div>
    <!--end header_logo-->
  </div>
  <!--end header-->
</header>

<div class="colorbar1">&nbsp;</div>

<nav>
  <div id="nav_container">

    <ul id="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Best Cameras</a></li>
      <li><a href="<%= cameras_path %>">Reviews</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Photo Contest</a></li>
    </ul>
  </div>
  <!--end navigation-->
</nav>

<div class="colorbar1">&nbsp;</div>

<%= yield %>

</body>
</html>
